<div class="container">
  <div class="d-flex align-items-center" style="height: 150px; card-grey">
    <h2>L'arrangement <strong><%= @booking.offer.name %> </strong> entre <%=@booking.offer.user.first_name %>  et vous</h2>
  </div>

  <div class="row">

  <!-- RECAP DU PROFIL DU CURRENT USER -->
    <div class="px-4 col-4 border-start border-end border-dark border-1">
      <div class="card card-dashboard w-100">
        <div class="card-header">
          <strong>Vous :</strong>
        </div>
        <div class="card-body" style="display: flex; flex-direction: column;">
          <h5 class="card-title"><%=current_user.first_name %> <%=current_user.last_name%></h5>
          <p class="card-text">
          <ul>
            <li>Courriel : <%=current_user.email%></li>
            <li>Tél : <%=current_user.phone_number%></li>
            <li>Adresse : <%= current_user.address%></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  <!-- RECAP DE L'ARRANGEMENT ENTRE LES DEUX -->

  <!-- RECAP DU PROFIL DU OFFER_ID -->
  </div>
</div>
