<div class="container">
  <div class="d-flex align-items-center" style="height: 150px; card-grey">
    <div class="text-blue"><h2>L'arrangement <strong><%= @booking.offer.name %></strong>  entre <%=@booking.offer.user.first_name%>  et vous</h2></div>
  </div>

  <div class="row">

  <!-- RECAP DU PROFIL DU CURRENT USER -->
    <div class="px-4 col-4">
      <div class="card card-dashboard card-green w-100">
        <div class="card-header">
          <div class="text-green"> <h3> <strong>Vous :</strong></h3> </div>
        </div>
        <div class="card-body" style="display: flex; flex-direction: column;">
          <h5 class="card-title"><%=current_user.first_name %> <%=current_user.last_name%></h5>
          <p class="card-text">
          <ul class="text-green">
            <li><i class="fa-sharp fa-solid fa-envelope"></i> <%=current_user.email%></li>
            <li><i class="fa-sharp fa-solid fa-phone"></i> <%=current_user.phone_number%></li>
            <li><i class="fa-sharp fa-solid fa-house"></i> <%= current_user.address%></li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  <!-- RECAP DE L'ARRANGEMENT ENTRE LES DEUX -->
  <div class="px-4 col-4">
      <div class="card card-dashboard card-arrangement w-100">
        <div class="card-header">
          <div class="text-blue"> <h2> <center> <strong>L'arrangement</strong> </center></h2> </div>
        </div>
        <div class="card-body" style="display: flex; flex-direction: column;">
          <h5 class="card-title"><%=@booking.offer.category%> : <strong><%=@booking.offer.name%></strong></h5>
          <p class="card-text">
          <p class="text-orange"> <justify> <%=@booking.offer.description%> </justify> </p>
          <p class="text-green"> <u>Votre proposition : </u> <justify> <%=@booking.deal%> </justify> </p>
          <ul class="text-green">
            <li>du : <%=@booking.start_time%></li>
            <li>au : <%=@booking.end_time%></li>
          </ul>
          <div class="text-blue"> <p> L'arrangement est <strong><%=@booking.accepted_status%></strong> par <%=@booking.offer.user.first_name%> <%=@booking.offer.user.last_name%></div>
          </p>
        </div>
      </div>
    </div>

  <!-- RECAP DU PROFIL DU OFFER_ID -->
    <div class="px-4 col-4">
      <div class="card card-dashboard card-orange w-100">
        <div class="card-header">
          <div class="text-orange"> <h3> <strong>Votre Kimoun :</strong></h3> </div>
        </div>
        <div class="card-body" style="display: flex; flex-direction: column;">
          <h5 class="card-title"><%=@booking.offer.user.first_name%> <%=@booking.offer.user.last_name%></h5>
          <p class="card-text">
          <ul class="text-orange">
            <li><i class="fa-sharp fa-solid fa-envelope"></i> <%=@booking.offer.user.email%></li>
            <li><i class="fa-sharp fa-solid fa-phone"></i> <%=@booking.offer.user.phone_number%></li>
            <li><i class="fa-sharp fa-solid fa-house"></i> <%=@booking.offer.user.address%></li>
          </ul>
          </p>
        </div>
      </div>
    </div>

<!-- CREATION D'UN AVIS -->
    <div>
      <%= link_to "Ajoute un avis", new_booking_review_path(@booking) %>
    </div>
  </div>
</div>
