<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="row">
      <a class="navbar-brand" href="/">KiMounS</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <% if current_user.nil? %>
          <div class="waviy">
            <span style="--i:1">K</span>
            <span style="--i:2">I</span>
            <span style="--i:3">M</span>
            <span style="--i:4">O</span>
            <span style="--i:5">U</span>
            <span style="--i:6">N</span>
          </div>
        <% else %>
          <div class="waviy d-flex">
            <div class="mr-auto p-2">
              <span style="--i:1"><%= current_user.first_name[0] %></span>
              <span style="--i:2"><%= current_user.first_name[1] %></span>
              <span style="--i:3"><%= current_user.first_name[2] %></span>
              <span style="--i:4"><%= current_user.first_name[3] %></span>
              <span style="--i:5"><%= current_user.first_name[4] %></span>
              <span style="--i:6"><%= current_user.first_name[5] %></span>
            </div>
            <% if current_user.nil? %>
            <% else %>
              <% if current_user.picture.attached? %>
              <div id="placement" class="p-2">
                <%= cl_image_tag current_user.picture.key, height: 80, width: 80, crop: :fill, class: "rounded-circle" %>
              </div>
              <% else %>
                <img class="rounded-circle ml-auto p-2" style="<% current_user.photo %>" src="https://i.pravatar.cc/80">
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <%= link_to 'Profil', profile_path, class: 'nav-link active', aria_current: 'page' %>
          <%= link_to 'Les offres', offers_path, class: 'nav-link active', aria_current: 'page' %>
          <%= link_to 'Tableau de bord', dashboard_path, class: 'nav-link active', aria_current: 'page' %>
      <%#= link_to 'Se déconnecter', destroy_user_session_path, html: {'data-turbo' => "false"}, data: { turbo_method: 'delete' } %>
          <%# <form class="d-flex" role="search"> %>
            <%# <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search"> %>
            <%# <button class="bouton btn btn-outline-success" type="submit">Rechercher</button> %>
          <%# </form> %>
          <li class="logout list-group-item">
            <%= link_to destroy_user_session_path, :method => :delete  do %>
              <i class="fa-solid fa-right-from-bracket"></i>
            <% end %>
          </li>
          <%# <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div> %>
      </div>
    </div>
  </div>
</nav>


<%# class="hover-icon svg-inline--fa fa-person-to-portal fa-xl" %>





<%# <div class="input-group rounded"> %>
  <%# <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /> %>
  <%# <span class="input-group-text border-0" id="search-addon"> %>
    <%# <i class="fas fa-search"></i> %>
  <%# </span> %>
<%# </div> %>
