<div class="container">
  <h2> Cher <%=current_user.first_name %> <%=current_user.last_name %> </h2>
<div class="row">
  <div class="px-4 col-4 border-end border-start border-dark border-1">
    <h3> Ce que vous proposez </h3>
    <ul>
      <% current_user.offers.each do |offer| %>
        <li><%= offer.name %></li>
        <%= image_tag offer.image_url %>
      <% end %>
      <%= link_to "Ajouter un nouveau service", root_path, class: "btn btn-primary" %>
    </ul>
  </div>
  <div class="px-4 col-4 border-end border-dark border-1">
    <h3> Vous avez dit oui aux Kimoun</h3>
  </div>
  <div class="px-4 col-4 border-end border-dark border-1">
    <h3> Les Kimoun qui vous ont dit oui </h3>
    <% @bookings.each do |booking| %>
      <ul>
        <li>Le service  : <%=booking.offer.name%></li>
        <li>sera réalisé par : <%=booking.offer.user.first_name%> <%=booking.offer.user.last_name%></li>
        <li>Début de la prestation/location : <%=booking.start_time%></li>
        <li>Fin de la prestation/location  : <%=booking.end_time%></li>
      </ul>
    <% end %>
  </div>
</div>
<%= link_to "Retourner à la page d'accueil", root_path, class: "btn btn-primary" %>
</div>
