<div class="banner">
  <div class="container">
    <% @offers.each do |offer| %>
    <div class="card" style="width: 18rem;">
      <img id="img-card" src="<%= offer.photo %>" class="card-img-top" alt="<%= offer.name %>">
      <div class="card-body">
        <h5 class="card-title"><%= offer.name %></h5>
        <p id="text-card" class="card-text"><%= offer.category %></p>
        <%= link_to "Sélectionner", offer_path(offer), class: "btn btn-outline-secondary" %>
  </div>
</div>
<% end %>
