<div class="container">
  <div class="d-flex align-items-center" style="height: 150px; card-grey">
    <h2 id="title-offer"><strong>Propositions d'offres</strong></h2>
  </div>

  <div class="row">
    <% @offers.each do |offer| %>
      <% if offer.user_id != current_user.id %>
        <div class="card card-offer">
          <img id="img-card" src="<%= offer.image_url %>" class="card-img-top img-border-top" alt="<%= offer.name.upcase %>">
          <div class="card-body">
            <div id="dispo" class="d-flex">
              <div class="card-title"><%= offer.name %></div>
              <img src="<%= offer.user.photo %>" class="card-trip-user avatar-bordered" />
            </div>
            <p id="text-category"><%= offer.category %></p>
            <p id="text-description" class="text-truncate d-block"><%= offer.description %></p>
            <div class = "btn-card-offer">
            <%= link_to "Sélectionner", offer_path(offer), class: "btn btn-success button-dashboard button-green text-align-center ps-10" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
