<div class="container">
  <div class="d-flex align-items-center" style="height: 100px; card-grey">
    <h2><center>Salut <%=current_user.first_name %>  - L'offre de <%=@offer.user.first_name%> t'interesse ? - Propose lui un Kimoun's deal</center></h2>
  </div>


  <div class="row">
    <div class="px-4 col-6 show-offer">
      <div class="card card-offer">
          <img id="img-card" src="<%=@offer.image_url %>" class="card-img-top img-border-top" alt="<%=@offer.name.upcase %>">
          <div class="card-body">
            <div id="dispo" class="d-flex">
              <div class="card-title"><%=@offer.name %></div>
              <img src="<%=@offer.user.photo %>" class="card-trip-user avatar-bordered" />
            </div>
            <p id="text-category"><%=@offer.category %></p>
            <p id="text-description"><%=@offer.description %></p>
            <div class = "btn-card-offer">
            <%= link_to "Revoir la liste des offres", offers_path, class: "btn btn-success button-dashboard button-green text-align-center ps-10" %>
            </div>
          </div>
        </div>
      </div>


    <div class="px-4 col-6">
        <%= simple_form_for [@offer, @booking],
                      html: {
                        class: 'form-booking',
                        data: {
                          controller: 'flatpickr'
                        }
                      } do |f| %>
        <div>
          <div><strong>Quand souhaitez-vous que <%=@offer.user.first_name%></strong> intervienne ?</div>
          <div class="mt-4">
          <%= f.input :start_time, :label => "Date de début",
                    as: :string,
                      input_html: {
                        data: {
                          flatpickr_target: 'startDateInput',
                        }
                      } %>
          <%= f.input :end_time, :label => "Date de fin",
                    as: :string,
                    input_html: {
                      data: {
                        flatpickr_target: 'endDateInput'
                      }
                    } %>
      </div>
        </div>
        <div><strong>Que proposez-vous</strong> à <%=@offer.user.first_name%> ?</div>
        <div class="mt-1">
          <%= f.input :deal%>
        </div>
        <%= f.submit 'POSTER', class: "btn btn-success button-dashboard button-green"%>
      <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div class="show-map-container">
        <div style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
  </div>
</div>
